.virtualbox{
  width:650px; height: 450px;
  background-color: #fff;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
}
.key{
    width: 200px; height:200px;                       /* height and width of div block*/
    display:block;
    background-color:#fff;
    text-align: center;                               /* centers the text horizontally*/
    padding-left: 8px;
    line-height: 200px;                               /* centers the text vertically (a little hacky, this is based on height of block */
    border-radius:5px;
    float:left; margin-left: 5px;
    margin-bottom:5px;
    transition: box-shadow 0.7s ease;
    font-size: 50px;                                  /* size of text written on key */
  }